* {
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.main {
  align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  text-align: center;
}
.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
  height: auto;
  width: 60%;
  border: 1px solid black;
  border-radius: 8px;
  margin: 3% 0;
}
.block div {
  display: flex;
  width: 100%;
  height: 55%;
  justify-content: center;
}
.block div p {
  text-align: center;
}
.block div div {
  width: 50%;
}
.block div div p {
  text-align: center;
  width: 100%;
}
.block .block-fir {
  width: 30%;
}
.block .block-sec {
  width: 70%;
}
.in {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  height: auto;
  margin-bottom: 2%;
}
.in input {
  width: 40%;
  padding: 0.4%;
  border-radius: 6px;
  margin-bottom: 1%;
}
.button {
  width: 6%;
  cursor: pointer;
}
.latest {
  height: auto;
  width: 60%;
}
.latest h3 {
  height: auto;
  width: 100%;
  text-align: center;
}
.latest-box {
  height: 3%;
  padding: 2%;
  display: flex;
  border: 1px solid black;
  align-items: center;
}
.latest-num {
  width: 30%;
}
.latest-hash {
  width: 70%;
}
/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
.logo {
  height: 120px;
  width: auto;
  position: absolute;
  top: 10px;
  left: 18px;
}
